Colors {
/* Greys */
color: #acacac;
color: #3b342e;
color: #454545;
color: #2c3034;
color: #b0b0b0;
color: #3b3347;
color: #313131;
color: #31363b;
color: #76797c;
color: #9B9B9B;
color: #626568;
color: #1d2023;

/* Blacks */
color: #121018;
color: #0e0d0a;
color: #030201;
color: #030304;
color: #05010f;
color: #070018;

/* Purples */
color: #872a99;
color: #3e2680;
color: #2b003d;
color: #191621;
color: #211c2d;
color: #17174d;
color: #520075;
color: #851f99;
color: #180022;

/* Whites */
color: #ffffff;
color: #e6e6ec;
color: #d4d8e0;

}

